body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 1.8em;
}

textarea {
  font-family: 'Courier New', Courier, monospace;
  width: 80%;
  height: 25vh;
  resize: none;
  font-size: 1.5em;
  border: 1px solid #000;
}

#outputText {
  cursor: pointer;
}

#creditos {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

#creditos span {
  font-size: 0.8em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: #000;
}
